<h1>Добавить маршрут</h1>
<form method="POST" action="/addRoute">
<ul class="collapsible expandable">
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>География</div>
      <div class="collapsible-body">
        <div class="row">
        <div class="input-field col s6 offset-s3">
          <input  type="text" name="from" placeholder="Станция отправки">
          <input  type="text" name="to"   placeholder="Станция назначения">
        </div>
      </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add_alarm</i>Время</div>
      <div class="collapsible-body">
        <div class="row">
        <div class="input-field col s6 offset-s3">
          <input  type="text" name="start_time" placeholder="Время отправки">
          <input  type="text" name="end_time"   placeholder="Время прибытия">
        </div>
      </div>
      </div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons">add_alarm</i>Дата</div>
      <div class="collapsible-body">
        <div class="row">
        <div class="input-field col s6 offset-s3">
          <input  type="text" name="start_date" placeholder="Дата отправки">
          <input  type="text" name="end_date"   placeholder="Дата прибытия">
        </div>
      </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>Состав</div>
      <div class="collapsible-body">
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <p><span>Выберите количество и тип вагонов</span></p>
            <input  type="text" name="low_type"    placeholder="Количество типа эконом">
            <input  type="text" name="middle_type"   placeholder="Количество типа стандарт">
            <input  type="text" name="lux_type"     placeholder="Количество типа люкс">
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">attach_money</i>Цены</div>
      <div class="collapsible-body">
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <p><span>Выберите цену места соответственно типу вагона</span></p>
            <input  type="text" name="low_price"    placeholder="Цена эконом">
            <input  type="text" name="middle_price"   placeholder="Цена стандарт">
            <input  type="text" name="lux_price"     placeholder="Цена люкс">
          </div>
        </div>
      </div>
    </li>
  </ul>
<button type="submit" class="btn">Утвердить маршрут</button>
  </form>