<h1>Регистрация</h1>

<div class="row">
    <form class="col s12" action="/auth/register" method="POST">
      <div class="row">
        <div class="input-field col s4">
          <input id="first_name" type="text" class="validate" name="name">
          <label for="first_name">Имя</label>
        </div>
        <div class="input-field col s4">
          <input id="last_name" type="text" class="validate" name="surname">
          <label for="last_name">Фамилия</label>
        </div>
        <div class="input-field col s4">
          <input id="pytronamic" type="text" class="validate" name="patronymic">
          <label for="pytronamic">Отчество</label>
        </div>
        
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <button class="btn" type="submit">Регистрация</button>
    </form>
  </div>
        